@tailwind base;
@tailwind components;
@tailwind utilities;

/* Active navigation menu */
.active {
  @apply text-green;
}

.active svg {
  @apply text-green;
}

/* image card */
.card-sh {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  height: 220px;
}

/* TOPBAR */
::-webkit-scrollbar {
  width: 10px; /* Couleur de la scrollbar */
  background-color: transparent; /* rend la scrollbar transparent */
}

::-webkit-scrollbar-thumb {
  background-color: transparent; /* couleur du "thumb" en vert */
  border-radius: 5px; /* arrondi les coin de "thumb" */
}

/* Collapse transition */
.ReactCollapse--collapse {
  transition: height 1750ms;
}
